// Colors

// Basics
$c-black: #202020;
$c-dark-grey: #606060;
$c-light-grey: #CCCCCC;
$c-white: #eee;

// Branding
$c-green: #457355;
$c-beige: #D7D9CC;
$c-brown: #8C715A;
$c-orange: #A65644;
$c-red: #401915
