.sg-color {
  &__group {
    margin: 15px 0;
    border: 1px solid $c-thin-line;
    display: flex;
    justify-content: space-around;
  }

  &__preview {
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
    margin: 0;
    color: $c-white;  
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }

  &--fifth &__preview {
    width: 20%;
  }

  &--fourth &__preview {
    width: 25%;
  }

  &__name {
    display: block;
    font-size: 1rem;
  }
}




.inverted {
  color: $c-black;
}

.green {
  background: $c-green;
}

.red {
  background: $c-red;
}

.barbecue {
  background: $c-barbecue;
}

.beige {
  background: $c-beige;
}

.brown {
  background: $c-brown;
}

.black {
  background: $c-black;
}

.dark-grey {
  background: $c-dark-grey;
}

.light-grey {
  background: $c-light-grey;
}

.white {
  background: $c-white;
}