.sg-color {
  &__group {
    margin: 15px 0;
    border: 1px solid $c-thin-line;
    display: flex;
    justify-content: space-around;
  }

  &__preview {
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
    margin: 0;
    color: $c-white;  
    text-align: center;
    font-size: 1.5em;

    &--fifth {
      width: 20%;
    }

    &--fourth {
      width: 25%;
    }
  }

}

.inverted {
  color: $c-black;
}

.green {
  background: $c-green;
}

.orange {
  background: $c-orange;
}

.red {
  background: $c-red;
}

.beige {
  background: $c-beige;
}

.brown {
  background: $c-brown;
}

.black {
  background: $c-black;
}

.dark-grey {
  background: $c-dark-grey;
}

.light-grey {
  background: $c-light-grey;
}

.white {
  background: $c-white;
}