.sg-snippet {
	display: block;
	background: $c-sg-white;
	border: 1px solid $c-sg-thin-line;
	border-radius: 6px;
	margin: 20px 0;
	padding: 10px 10px 10px 25px;

	font: 12px Consolas, Menlo, Courier, monospace;

	white-space: pre;

	overflow-x: auto;
}