// Height
$sg-header-height: 60px;

// Colors
$c-sg-header-bg: #343437;
$c-sg-header-text: #CCCFCF;
$c-sg-white: #F8FCFF;
$c-sg-thin-line: #ccc;

// Z-Layers
$sg-layers: (
        nav: 2,
        content: 1,
        background: -1
);