// Height
$sg-header-height: 60px;

// Colors
$c-sg-header-bg: #343437;
$c-sg-header-bg-darker: #202020;
$c-sg-header-text: #cccfcf;
$c-sg-white: #f8fcff;
$c-sg-thin-line: #ccc;

// Z-Layers
$sg-layers: (
        nav: 2,
        content: 1,
        background: -1
);
