.list {

  padding-left: 1rem;

  &__item {
    font-size: 1.2rem;
    vertical-align: middle;

    &::before {
      content: '🍔';
      margin-right: 0.5rem;
    }

    &--fries::before {
      content: '🍟';
    }
    &--tomatoes::before {
      content: '🍅';
    }
    &--cheese::before {
      content: '🧀';
    }
     &--bacon::before {
      content: '🍖';
    }
  }

  &__heading {
    margin-top: 0.5em;
  }

}