// ==============
// MENU COMPONENT
// ==============

$navbar-height: 60px !default;
$menu-color: white !default;
$menu-bg-color: black !default;
$menu-color-hover: black !default;
$menu-bg-color-hover: white !default;

$sub-menu-color: $menu-color !default;
$sub-menu-color-hover: $menu-color-hover !default;
$sub-menu-bg-color: $menu-bg-color !default;
$sub-menu-bg-color-hover: $menu-bg-color-hover !default;

.menu {
  min-height: inherit;
  background: $menu-bg-color;
  padding: 0 .5rem;
  display: inline-block;
}

.menu__list-items {
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__list-item {
  height: inherit;
  display: inline-block;
}

.menu__link {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: $navbar-height;
  padding: 0 1rem;
  color: $menu-color;
  text-decoration: none;

  &:visited {
    color: $menu-color;
  }

  &:hover {
    background: $menu-bg-color-hover;
    color: $menu-color-hover;
  }
}

.menu-burger {
  display: none;
}

.menu-sub {
  & > .menu__link:after {
    display: inline-block;
    transform: rotate(-90deg);
    content: '\00a0<';
  }

  & > .menu__list-items {
    display: none;
  }
}

.menu-sub--active {
  & > .menu__link {
    background-color: $sub-menu-bg-color-hover;
    color: $sub-menu-color-hover;
  }

  & > .menu__list-items {
    display: block;
  }
}

@media (min-width: 769px) {
  .menu-sub {
    position: relative;

    .menu__list-items {
      position: absolute;
      top: $navbar-height;
      left: 0;
      background: $menu-bg-color;
    }

    .menu__list-items {
      white-space: nowrap;
    }
  }
}

@media (max-width: 768px) {
  .menu {
    padding: 0;
    position: relative;
  }

  .menu__list-items {
    display: none;
  }

  .menu__list-item {
    display: block;
  }

  .menu__link {
    text-align: left;
  }

  .menu-burger {
    display: inline-block;
    height: inherit;
    color: $menu-color;
    background-color: $menu-bg-color;
    padding: 0 1rem;
    line-height: $navbar-height;
  }

  .menu--active {
    display: block;

    .menu__list-items {
      display: block;
    }

    .menu-burger {
      background-color: $menu-bg-color-hover;
      color: $menu-color-hover;
    }
  }

  .menu-sub {
    .menu__link:before {
      content: '>\00a0 ';
      display: inline-block;
    }
  }
}
