// ================
// SOCIAL COMPONENT
// ================

/**
 *
    <div class="social">
        <div class="social__item social__item--facebook">
            <a href="https://www.facebook.com/burglars" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </div>
    </div>
 *
 */

.social {
  display: flex;
  justify-content: space-around;
}

.social__item {
  color: $c-white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 40px;
  height: 40px;
  margin-left: 1rem;

  &::after {
    font-family: 'Fontawesome';
    color: $c-white;
  }

  &[href*="facebook"] {
    background: #3b5998;

    &::after {
      content: '\f09a';
    }
  }

  &[href*="twitter"] {
    background: #4099FF;

    &::after {
      content: '\f099';
    }
  }

  &[href*="pinterest"] {
    background: #bd081c;

    &::after {
      content: '\f231';
    }
  }

  &:first-child {
    margin-left: 0;
  }
}