// based on http://type-scale.com/

html {
  font-size: 1em;
}

body {
  font-family: 'Open Sans Condenced', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
  text-align: justify;
  text-justify: inter-word;

  &:first-letter {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    line-height: 0.8;
    float: left;
    margin-right: 3px;
    margin-top: 3px;
  }
}

p + p:first-letter {
  font-family:inherit;
  font-size: inherit;
  float: none;
  margin-right: 0;
  line-height: inherit;
}

h1, h2, h3, h4 {
  font-family: 'Abril Fatface', cursive;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small, .font_small {
  font-size: 0.707em;
}
