.sg-navigation {
  flex: 3 0 auto;

  &__list {
    float: right;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__group {
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: $sg-header-height;
    letter-spacing: .1em;
    box-sizing: border-box;
    transition: color 0.2s ease-in;

    &:hover {
      color: $c-sg-white;

      &:after {
        width: 100%;
        left: 0%;
      }

      & .sg-navigation__subnav {
        opacity: 1;
        visibility: visible;
      }
    }

    &:after {
      position: absolute;
      top: 70%;
      left: 50%;

      content: '';
      width: 0px;
      height: 1px;
      background: $c-sg-white;
      transition: width .2s ease-out, left .2s ease-out;
    }
  }

  &__subnav {
    opacity: 0;
    visibility: hidden;
    position: absolute;

    left: -20px;
    width: calc(100% + 40px);
    
    text-align: center;
    transition: opacity .35s ease-in,visibility .35s ease-in ;


    .sg-navigation__item {
      display: block;
      background: $c-sg-header-bg;
      transition: background .25s ease-in;

      a {
        display: block;
      }

      &:hover {
        background: $c-sg-header-bg-darker;
      }
    }

    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }
}
