.sg-section {
   &__heading {
    padding-bottom: 10px;
    border-bottom: 1px solid $c-sg-thin-line;
  }

  &__subheading {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    
    display: block;
    margin: 0;
    padding:  20px;
    
    background: #343437;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;

    color: $c-sg-white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__group {
    position: relative;
    padding: 80px 15px 15px 15px;
    margin: 10px 0 10px 20px;
    border: 1px solid $c-sg-thin-line;
    border-radius: 20px;
  }
}
