<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #457355;"></span>
		<span class="sg-label">
			$color-brand-green <br />
			#457355
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D7D9CC;"></span>
		<span class="sg-label">
			$color-brand-beige <br />
			#D7D9CC
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8C715A;"></span>
		<span class="sg-label">
			$color-brand-brown <br />
			#8C715A
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #A65644;"></span>
		<span class="sg-label">
			$color-brand-orange <br />
			#A65644
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #401915;"></span>
		<span class="sg-label">
			$color-brand-red <br />
			#401915
		</span>
	</li>
</ul>